<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>تقاضای بازیابی رمز عبور</title>
</head>
<body style="font-family: Sahel; text-align: center;">
    <h1>تقاضای بازیابی رمز عبور فرستاده شد</h1>
    <div>
        <p>
            دستورالعمل تنظیم رمز عبور را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.
        </p>
        <p>
            اگر ایمیلی دریافت نمی‌کنید، لطفا بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشه اسپم خود را نیز چک کنید.
        </p>
    </div>
</body>
</html>
